.title {
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  font-family: 'Great Vibes';
  font-weight: 600;
  color: #323232;
  text-shadow: 3px 3px #BEBEBE;  
}

.para {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
  font-family: times-roman;
  color: #000000;
}

.butonian {
  height: 250px;
  margin-top: 75px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: times-roman;
  font-size: 25px;
  background: #FFFFFF;
  border-radius: 20px;
  border: 0px solid;
  box-shadow: -5px 5px 10px #888888;
}

.butonian2 {
  margin-top: 50px;
  font-family: 'Great Vibes';
  font-size: 30px;
  background: #B3D3B3;
  height: 60px;
  border-radius: 20px;
  box-shadow: -5px 5px 10px #888888;
  outline: none;
}

.italic {
  font-style: italic;
}

.tweet {
  text-align: center;
}